<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Michał Tour</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Strona główna<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isUserAdmin" routerLink="/newTour" routerLinkActive="active">Dodaj
          wycieczke</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!isLogged()" routerLink="/registration" routerLinkActive="active">Zarejestruj</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!isLogged()" routerLink="/login" routerLinkActive="active">Zaloguj<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isLogged()" routerLink="/bucket" routerLinkActive="active">Koszyk<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isLogged()" routerLink="/history" routerLinkActive="active">Historia zamówień<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isLogged()" routerLink="/logout" (click)="logout()" routerLinkActive="active">Wyloguj<span
          class="sr-only">(current)</span></a>
      </li>

      <!--      <form class="form-inline my-2 my-lg-0">-->
      <!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      <!--      </form>-->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
